/* Root Colors */
:root{
    --header--background--color: #6F7E86;
}
/* Header Area */
header{
    width: 100%;
    height: 10vh;
    background-color: var(--header--background--color);
    display: grid;
    grid-template-columns: repeat(4,auto);
    grid-template-rows: auto;
    justify-items: center;
    align-items: center;
}
.logo{
    font-size: 2rem;
    color: white;
    font-weight: bold;
    float: left;
    grid-column: 1;
}
.logo span{
    color: black;
}
header nav{
    grid-column: 4;
}
header nav ul li{
    display: inline-block;
}
header nav ul li a{
    font-size: 1.5vh;
    margin-left: 3vh;
    color: white;
    border-bottom: 5px solid black;
    padding-bottom: 8%;
    transition: 0.5s all ease;
}
header nav ul li a.active{
    border-bottom: 5px solid green;
}
header nav ul li a:hover{
    color: black;
    border-bottom: 5px solid white;
}
@media screen and (max-width:900px) {
    nav ul li a{
        display: none;
    }
    nav ul{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        cursor: pointer;
        transition: 1s all ease;
    }
    nav ul::before{
        display: inline-block;
        content: "";
        background-color: black;
        width: 25px;
        height: 5px;
        margin-bottom: 10px;
    }
    nav ul::after{
        display: inline-block;
        content: "";
        background-color: black;
        width: 25px;
        height: 5px;
    }
    nav ul:hover{
        transform: rotate(360deg);
    }
}

/* Header Area */